{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        com.github.parenthesin/components {:mvn/version "0.1.1"
                                           :exclusions  [metosin/malli]}
        aero/aero {:mvn/version "1.1.6"}
        com.github.seancorfield/honeysql {:mvn/version "2.3.928"}
        metosin/muuntaja {:mvn/version "0.6.8"}
        metosin/reitit {:mvn/version "0.5.18"}
        metosin/reitit-pedestal {:mvn/version "0.5.18"}
        metosin/reitit-swagger {:mvn/version "0.5.18"}
        metosin/reitit-swagger-ui {:mvn/version "0.5.18"}
        org.bouncycastle/bcprov-jdk15on {:mvn/version "1.70"}
        org.postgresql/postgresql {:mvn/version "42.5.0"}
        prismatic/schema-generators {:mvn/version "0.1.5"}
        selmer/selmer {:mvn/version "1.12.55"}}
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps  {org.clojars.bigsy/pg-embedded-clj {:mvn/version "1.0.0"}
                       lambdaisland/kaocha {:mvn/version "1.70.1086"}
                       lambdaisland/kaocha-cloverage {:mvn/version "1.0.75"}
                       nubank/matcher-combinators {:mvn/version "3.5.1"}
                       nubank/state-flow {:mvn/version "5.14.2"}}
         :main-opts   ["-m" "kaocha.runner"]}

  :clojure-lsp {:replace-deps {com.github.clojure-lsp/clojure-lsp-standalone {:mvn/version "2022.09.01-15.27.31"}}
                :main-opts ["-m" "clojure-lsp.main"]}

  :migratus {:main-opts ["-m" "parenthesin.migrations"]}

  :uberjar {:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.1.303"}}
            :exec-fn hf.depstar/uberjar
            :exec-args {:jar "service.jar"
                        :aot true
                        :main-class super-dice-roll.server}}

  :nrepl {:extra-deps {cider/cider-nrepl {:mvn/version "0.28.6"}}
          :main-opts ["-m" "nrepl.cmdline" "--middleware" "[cider.nrepl/cider-middleware]"]}}}
