{:webserver/port #long #or [#env PORT 3001]
 :discord {:app-public-key #or [#env DISCORD_PUBLIC_KEY ""]}
 :slack {:signing-secret #or [#env SLACK_SIGNING_SECRET ""]}
 :telegram {:bot-token #or [#env TELEGRAM_BOT_TOKEN ""]}
 :database {:dbtype "postgres"
            :dbname #or [#env DB-NAME #env DB_NAME "postgres"]
            :username #or [#env DB-USER #env DB_USER "postgres"]
            :password #or [#env DB-PASS #env DB_PASS "postgres"]
            :host #or [#env DB-HOST #env DB_HOST "localhost"]
            :port #or [#env DB-PORT #env DB_PORT 5432]}}

